n8n-workflow-comandapp.json
{
  "name": "ComandApp — Master Workflow (KDS, QR & Pagos)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comandapp",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-entrada",
      "name": "📡 ComandApp Master Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [100, 400],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.evento }}",
              "operation": "equal",
              "value2": "comanda.nueva"
            }
          ]
        }
      },
      "id": "filter-nueva",
      "name": "🆕 Nueva Comanda",
      "type": "n8n-nodes-base.if",
      "position": [360, 200],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.evento }}",
              "operation": "equal",
              "value2": "comanda.estado_cambiado"
            },
            {
              "value1": "={{ $json.body.estadoNuevo }}",
              "operation": "equal",
              "value2": "LISTO_PARA_SERVIR"
            }
          ]
        }
      },
      "id": "filter-kds-listo",
      "name": "👨‍🍳 KDS Finalizó Pedido",
      "type": "n8n-nodes-base.if",
      "position": [360, 400],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.evento }}",
              "operation": "equal",
              "value2": "cliente.llamado"
            }
          ]
        }
      },
      "id": "filter-qr-llama",
      "name": "🔔 Cliente Llama Mozo (QR)",
      "type": "n8n-nodes-base.if",
      "position": [360, 600],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.evento }}",
              "operation": "equal",
              "value2": "comanda.pagada"
            }
          ]
        }
      },
      "id": "filter-pago",
      "name": "💳 Pago Registrado",
      "type": "n8n-nodes-base.if",
      "position": [360, 800],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "1198175903",
        "text": "🍽️ *NUEVA COMANDA — Mesa {{ $json.body.mesa }}*\n\n🤵 Origen: {{ $json.body.observaciones && $json.body.observaciones.includes('QR') ? '📱 Cliente Vía QR' : $json.body.mozoNombre }}\n💰 Total: ${{ $json.body.total }}\n📝 Obs: {{ $json.body.observaciones || 'Sin observaciones' }}\n\n🕐 {{ $json.body.timestamp }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-nueva",
      "name": "📱 TG: Alerta Pedido",
      "type": "n8n-nodes-base.telegram",
      "position": [620, 160],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "1198175903",
        "text": "🔥 *¡PEDIDO LISTO EN COCINA!* \n\n🏃‍♂️ Mesa: {{ $json.body.mesa }}\n📝 Comanda ID: {{ $json.body.comandaId }}\n\nEl pedido (KDS) terminó su preparación y está esperando ser entregado.\n🕐 {{ $json.body.timestamp }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-kds-listo",
      "name": "📱 TG: KDS Listo Para Servir",
      "type": "n8n-nodes-base.telegram",
      "position": [620, 360],
      "typeVersion": 1
    },
    {
      "parameters": {
        "chatId": "1198175903",
        "text": "🔔 *ASISTENCIA REQUERIDA (MENÚ QR)*\n\n🙋‍♂️ El cliente de la *Mesa {{ $json.body.mesa || '?' }}* está llamando al mozo.\n🕐 {{ $json.body.timestamp }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-qr-llama",
      "name": "📱 TG: Cliente Necesita Mozo",
      "type": "n8n-nodes-base.telegram",
      "position": [620, 560],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "TU_SHEET_ID_AQUI",
        "range": "Ventas!A:F",
        "valueInputMode": "RAW",
        "values": {
          "values": [
            [
              "={{ $json.body.timestamp }}",
              "={{ $json.body.comandaId }}",
              "={{ $json.body.monto }}",
              "={{ $json.body.metodo }}",
              "registrado"
            ]
          ]
        }
      },
      "id": "sheets-pago",
      "name": "📊 Sheets: Registrar Venta",
      "type": "n8n-nodes-base.googleSheets",
      "position": [620, 760],
      "typeVersion": 1
    }
  ],
  "connections": {
    "📡 ComandApp Master Webhook": {
      "main": [
        [
          { "node": "🆕 Nueva Comanda", "type": "main", "index": 0 },
          { "node": "👨‍🍳 KDS Finalizó Pedido", "type": "main", "index": 0 },
          { "node": "🔔 Cliente Llama Mozo (QR)", "type": "main", "index": 0 },
          { "node": "💳 Pago Registrado", "type": "main", "index": 0 }
        ]
      ]
    },
    "🆕 Nueva Comanda": {
      "main": [
        [{ "node": "📱 TG: Alerta Pedido", "type": "main", "index": 0 }],
        []
      ]
    },
    "👨‍🍳 KDS Finalizó Pedido": {
      "main": [
        [{ "node": "📱 TG: KDS Listo Para Servir", "type": "main", "index": 0 }],
        []
      ]
    },
    "🔔 Cliente Llama Mozo (QR)": {
      "main": [
        [{ "node": "📱 TG: Cliente Necesita Mozo", "type": "main", "index": 0 }],
        []
      ]
    },
    "💳 Pago Registrado": {
      "main": [
        [{ "node": "📊 Sheets: Registrar Venta", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
